/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root {
    --blue: #0770CD;
    --darkBlue : #2f3b55;
    --darkBlue2 : #485b84;
    --softGrey :#f6f8fd;
    --red : #dc464f;
    --green : #7AE59F;
    --yellow : #ffca63;
    --grey : #b3b3b3;
}
a{
    color : var(--blue);
}
a:hover{
    text-decoration: none;
    color : var(--red);
}
body{
    /* font-family: 'Catamaran', sans-serif;     */
    font-family: 'Poppins', sans-serif;
    color : var(--darkBlue) !important;
    scroll-behavior: smooth;
    background: var(--softGrey);
}
.font-weight-medium{
    font-weight: 400;
}
.color-grey{
    color : var(--grey);
}
.color-blue{
    color : var(--blue) !important;
}
.color-darkBlue{
    color : var(--darkBlue) !important;
}
.color-dark2{
    color : var(--darkBlue2);    
}
.color-white{
    color : white;
}
.color-softGrey{
    color : var(--softGrey);
}
.color-softGrey2{
    color : #6a84ae;
}
.color-red{
    color : var(--red);
}
.color-yellow{
    color : var(--yellow);
}
.color-green{
    color : var(--green);
}
.navbar-top{
    background: none;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
.navbar-top.scrolled{
    background: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);    
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);    
}
.navbar-top.scrolled .navbar-nav li a.nav-link, .navbar-top.transparent-black .navbar-nav li a.nav-link{
    color : var(--darkBlue);
}
.navbar-top .navbar-nav li a.nav-link{
    padding-right : 1.3rem !important; 
    padding-left : 1.3rem  !important; 
    color : white;
    /* padding : 2rem 1rem;
 */
}
.navbar-top .navbar-nav li a:hover, .navbar-nav li a.active{
    color : var(--blue) !important;
}
.video-container iframe{
    position: absolute;
    right: 0;
    bottom :0;
}
.video-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-container .hero{
    height: 100vh;
}
.video-container .layer{
    position: absolute;
    left : 0;
    top : 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 59, 85, 0.9);
}
.video-container .close-focus{
    position: absolute;
    right: 10%;
    top : 0;
    visibility: hidden;
    transform: translate(50%,75%);
    -webkit-transform: translate(50%,75%);
    -moz-transform: translate(50%,75%);
    -o-transform: translate(50%,75%);
    z-index: 10000;
    cursor: pointer;
}
.video-container .close-focus span{
    font-size: 35px;
    color : white;
}
.video-container .layer, .video-container .hero #hero-text, .video-container .hero #hero-simulasi, .video-container #navbarNav.transition{
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    -moz-transition: all 3s ease;
}
.video-container.focus .close-focus{
    visibility: visible;
}
.video-container.focus .layer{
    background: transparent;
}
.video-container.focus .hero #hero-text{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
}
.video-container.focus .hero #hero-simulasi{
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -o-transform: translateX(150%);
    -moz-transform: translateX(150%);
}
.video-container.focus #navbarNav{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%);
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(196, 214, 209, 0.5), 0 0 0 10px rgba(0, 127, 231, 0.2), 0 0 0 20px rgba(0, 127, 231, 0.2);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 127, 231, 0.2), 0 0 0 10px rgba(0, 127, 231, 0.2), 0 0 0 20px rgba(0, 127, 231, 0.2);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgba(0, 127, 231, 0.2), 0 0 0 20px rgba(125, 221, 196, 0.5), 0 0 0 30px rgba(50, 100, 245, 0);
      -webkit-box-shadow: 0 0 0 10px rgba(0, 127, 231, 0.2), 0 0 0 20px rgba(0, 127, 231, 0.2), 0 0 0 30px rgba(50, 100, 245, 0);
    }
}
.video-container .hero .playVideo{
    border : 2px solid white;
    padding : 1rem;
    border-radius: 100%;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;    
}
.container.custom{
    min-width: 85%;
}
.promo-on-hero{
    position: absolute;
    left : 0;
    bottom : 0;
    width : 100%;
    background: var(--darkBlue);
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all .5s ease;
}
.promo-on-hero.show{
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.c-pointer{
    cursor: pointer;
}
.font-16{
    font-size: 16px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.owl-promo .owl-nav div{
    position: absolute;
    top : 50%;
    background: transparent  !important;
}
.owl-promo .owl-nav div:hover{
    background: transparent  !important;
}
.owl-promo .owl-nav div span{
    font-size: 20px !important;
    background: white;
    padding : .5rem .7rem;
    border-radius: 100%;
    color : var(--red);
}
.owl-promo .owl-nav .owl-prev{
    left : 0;
    transform: translate(-50%,-100%);
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
}
.owl-promo .owl-nav .owl-next{
    right : 0;
    transform: translate(50%,-100%);
    -webkit-transform: translate(50%,-100%);
    -moz-transform: translate(50%,-100%);
    -o-transform: translate(50%,-100%);
}
.custom-nav-tabs{
    border : none
}
.custom-nav-tabs a{
    background: white !important;
    color : var(--darkBlue)  !important;
    padding : 1rem 1.5rem;
    border-radius: 0px !important;
    border : none !important;
    border-bottom: 1px solid #dee2e6 !important;
}
.custom-nav-tabs a:first-child{
    border-top-left-radius: 20px !important ;
}
.custom-nav-tabs a:last-child{
    border-top-right-radius: 20px !important ;
}
.custom-nav-tabs a.active{
    background: var(--blue) !important;
    color : white  !important;
}
.custom-tab-content{
    background: white;
    border-radius : 0px 10px 10px 10px;
}
.list-kurs{
    overflow: auto;
}
.list-kurs::-webkit-scrollbar-track
{
    background: #eff2f5;
}
.list-kurs::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}
.list-kurs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.list-kurs::-webkit-scrollbar-thumb {
  background: #d6dde9;
  border-radius: 10px;
}
.box-kurs:last-child{
    margin-right: 0;
}
.box-kurs{
    background: var(--softGrey);
    margin-right: 1rem;
    padding : 1rem;
    min-width: 250px;
}
.box-kurs .kurs-info{
    display: flex;
    justify-content: space-between;
}
.berita-style-1.small-style{
    height : 100px;
    border-radius: 5px;
}
.berita-style-1.h-400{
    height : 400px;
}
.berita-style-1{
    background: white;
    height : 300px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.berita-style-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
.berita-style-1 .layer{
    width: 100%;
    height : 100%;
    position: absolute;
    left : 0;
    top : 0;
    background: rgba(47, 59, 85, 0.8);
    padding : 1rem 1.5rem;
    color : white;
}
.berita-style-1 .layer .content{
    position: relative;
    height: 100%;
}
.berita-style-1 .layer .content .bottom{
    position: absolute;
    bottom : 0;
}
.berita-style-1:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
.img-berita-style-3{
    position: relative;
}
.img-berita-style-3 .img img{
    height: 122px;
    object-fit: cover;
}
.img-berita-style-3 .img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.img-berita-style-3 .img .layer{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left : 0;
    top : 0;
    background: rgba(47, 59, 85, 0.2);
}
.img-berita-style-3 .img .label-blue-rgb{
    position : absolute;
    top : 10px;
    left : 10px;
}
.label-blue-rgb{
    background: rgba(0, 127, 231, 0.8);
    color : white;
    border-radius: 8px;
}
.berita-style-2{
    background: white;
    padding : 1rem;
    border-radius: 10px;
    transition: all.5s ease;
    -webkit-transition: all.5s ease;
    -o-transition: all.5s ease;
    -moz-transition: all.5s ease;
}
.berita-style-2:hover, .box-white:not(.no-hover):hover{
    box-shadow: 0 10px 30px 10px rgba(47, 59, 85, 0.1);
}
.berita-style-2 .top{
    position: relative;
}
.berita-style-2 .top img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.berita-style-2 .top span{
    position: absolute;
    bottom : 10px;
    left : 10px;
}
.berita-style-2 .bottom h6{
    color : var(--blue);
}
.btn-primary{
    background: var(--blue) !important;
}
.btn-circle-b-primary{
    border-radius: 50px;
    color :var(--blue);
    border : 2px solid var(--blue); 
    background:  transparent !important;
}
.btn-circle-b-primary:hover{
    color :white;
    background: var(--blue) !important;
}
.btn-circle-primary{
    border-radius: 50px;
    color :white;
    background: var(--blue) !important;
}
.btn-circle-primary:hover{
    color :white;
}

.app-feature{
    border : 1px solid var(--softGrey);
}
.app-feature img{
    height: 60px;
}
.btn-dark{
    background: var(--darkBlue) !important;
    border-bottom: 7px solid #273247  !important;
}
.btn-white-blue{
    background: white !important;
    color : var(--blue);
}
#ajukan{
    background: var(--blue);
    display: flex;
}
#ajukan .left{
    padding : 5rem 0;
    width : 55%;
    position: relative;
    overflow: hidden;
}
#ajukan .left::before,#ajukan .left::after{
    content: "";
    width : 100px;
    height : 100px;
    border : 1px solid white;
    position: absolute;
}
#ajukan .left::before{
    top : 0;
    left : 0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
#ajukan .left::after{
    bottom : 0;
    right : 0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%,50%);
    -o-transform: translate(50%,50%);
    -moz-transform: translate(50%,50%);
}
#ajukan .left .content{
    width : 70%;
    margin: auto;
    color: white;
}
#ajukan .right{
    overflow: hidden;
    width : 45%;
    background: url('../images/common/cs.png');
    background-size: cover;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);    
    position: relative;
}
#ajukan .right::before{
    content: "";
    position: absolute;
    left : 0;
    top : 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 127, 231, 0.5);
}
#footer{
    background : var(--darkBlue);
}
.hr-soft{
    border-color: var(--softGrey) !important;
}
#copyright-section{
    background : #252f44;
}
.megamenu-nav{
    position: static;
}
.megamenu-nav .megamenu.show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
.megamenu-nav .megamenu{
    margin-top : 0;
    border-radius: 0px;
    position: absolute;
    left:0;
    right : 0;
    background: #f8fafc;
    border-top: 1px solid var(--softGrey);
    border-bottom: 3px solid var(--blue);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    max-height: 80vh;
    overflow: auto;
}
.megamenu::-webkit-scrollbar-track
{
    background: #eff2f5;
}
.megamenu::-webkit-scrollbar {
  width: 10px;
}
.megamenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.megamenu::-webkit-scrollbar-thumb {
  background: #d6dde9;
  border-radius: 10px;
}
.megamenu-nav .megamenu .row{
    width: 100%;
}
.megamenu-nav .megamenu .megamenu-link{
    display: block;
    margin-bottom: 2rem;
}
.megamenu-nav .megamenu .megamenu-link h6{
    color : var(--darkBlue);
}
.megamenu-nav .megamenu .megamenu-link:hover h6,.megamenu-nav .megamenu .megamenu-link.active h6{
    color : var(--blue);
}
.text-border{
    position: relative;
}
.text-border::before{
    content: "";
    position: absolute;
    left : 0;
    bottom : -5px;
    width : 35%;
    padding : 1.5px 0px;
}
.text-border.blue::before{
    background: var(--blue);
}
.section-hero-content{
    width: 85%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top : 120px;
    min-height: 50vh;
    background-position: center !important;
    background-repeat: no-repeat  !important;
    background-size: cover;
    position: relative;
}
.section-hero-content::before{
    content: "";
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: rgba(47, 59, 85, 0.5)
}
.hero-content{
    height: 50vh;
}
.search-hero{
    /* background : rgb(238, 241, 246, 0.2); */
    background: white;
    border-radius: 5px;
    padding : 5px;
    position: relative;
}
.search-hero input,.search-hero select,.search-hero button{
    border-radius: 0px;
    width: 100%;
    background : transparent;
    outline: none;
    border :none;
    line-height: 40px;
}
.search-hero input,.search-hero span,.search-hero select, .search-hero input::placeholder{
    color : var(--grey) !important;
}
.search-hero:not(.with-select) .fa-search{
    position: absolute;
    right: 10px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.search-hero.with-select{
    width: 100%;
    display: flex;
}
.search-hero.with-select input{
    width : 50%;
}
.search-hero.with-select select{
    border-left: 1px solid rgba(179, 179, 194, 0.4);
    width : 40%;
    padding-left : 20px;
}
.search-hero.with-select button{
    width : 10%;
    background: var(--blue);
    border-radius: 0px 5px 5px 0px;
}
.search-hero.with-select button span{
    color : white !important;
}
.search-hero:not(.with-select) input, .search-hero:not(.with-select) input::placeholder{
    color : var(--darkBlue);
    font-size: 20px;
    font-style: italic;
}
.hero-profile{
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-profile::before{
    content : "";
    position: absolute;
    left : 0;
    top : 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 59, 85, 0.9);
}
.hero-profile h1{
    font-size: 3rem;
}
.hero-profile .img-on-profile{
    position: relative;
    width: 100%;
    margin: auto;
}
.hero-profile .img-on-profile .img-profile{
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.hero-profile .img-on-profile .img-effect{
    width: 100px;
    position: absolute;
    right: 0;
    top : 0;
    z-index: -1;
    transform: translate(25%,-25%);
}
.btn-circle-dark{
    background: var(--darkBlue);
    color : white;
    border-radius: 50px;
}
.img-cover{
    object-fit: cover;
    width: 100%;
}
.mt-navbar{
    margin-top : 120px;
}
.box-white{
    border-radius: 14px;
    background: white;
    padding : 20px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;

}
.box-white img{
    position: relative;
    border-radius: 10px;
    
}
#berita-section{
    min-height: 40vh;
    margin-top : 92px;
}
.btn-circle-secondary{
    background: var(--softGrey);
    border-radius: 50px;
}

div.polaroid {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clip-path-tes{
    width: 100%;
    clip-path: polygon(17% 0, 84% 0, 100% 50%, 83% 100%, 17% 100%, 0% 50%);
}

.p-top {
    margin-top: 200px;
}